.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 110vh;
  background-color: #f5eefa;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15vh;
  background-color: rgb(106, 178, 242);
}
